<div id="user-form">
    <form action="../new-password" method="post">
        
        <div>
            <label for="password">New Password : </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div>
            <label for="confirm-password">Confirm Password : </label>
            <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" required>
            <input type="hidden" name="accessToken" id="accessToken" placeholder="accessToken" value="<%= accessToken %>">
        </div>
        <div id="submit">
            <div><input type="submit" value="Sumbit"></div>
              
        </div>
    </form>
    
</div>