<div id="user-form">
    <form action="users/new-password" method="post">
        
        <div>
            <label for="password">New Password : </label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <label for="confirm-password">Confirm Password : </label>
            <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password">
        </div>
        <div id="submit">
            <div><input type="submit" value="Sumbit"></div>
              
        </div>
    </form>
    
</div>