<div id="user-form">
    <form action="users/forget-password" method="post">
        <div>
            <label for="email">Email/username : </label>
            <input type="email" name="email" placeholder="Email/username" id="email">
        </div>
        
        <div id="submit">
            <div><input type="submit" value="Submit"></div>
            <div><a href="users/sign-In" style="box-sizing: border-box;">Sign-In</a></div>
            <div><a href="users/sign-Up" style="box-sizing: border-box;">Sign-Up</a></div>  
        </div>
    </form>
    
</div>