<div id="user-form">
    <form action="create-session" method="post">
        <div>
            <label for="email">Email/username : </label>
            <input type="email" name="email" placeholder="Email/username" id="email" required>
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="Password"  required>
        </div>
        <div id="submit">
            <div><input type="submit" value="Sign-In"></div>
            <div><a href="reset-password" style="box-sizing: border-box;">Forget Password</a></div>
            <div><a href="auth/google" style="box-sizing: border-box;">Google SignIn/Up</a></div>  
        </div>
    </form>
    
</div>