<div id="user-form">
    <form action="users/update-new-password" method="post">
        <div>
            <label for="password">Old Password : </label>
            <input type="password" name="password" id="oldPassword" placeholder="Old Password">
        </div>
        <div>
            <label for="password">New Password : </label>
            <input type="password" name="password" id="newPassword" placeholder="New Password">
        </div>
        <div>
            <label for="confirm-password">Confirm Password : </label>
            <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password">
        </div>
        <div id="submit">
            <div><input type="submit" value="Sumbit"></div>
              
        </div>
    </form>
    
</div>