body {

    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100wh;
    
}

#header {
    height: 100px;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#header a{
    text-decoration: none;
    color: white;
}

#header a:hover{
    color: blue;
}

#home {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#home a {
    text-decoration: none;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#user-form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-form div {
    margin-bottom: 5px;
    display: flex;
}
#user-form div label {
    width: 160px;
    font-size: larger;
}

#submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit div {
    margin: 5px;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

#submit div input{
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#submit div a {
    text-decoration: none;
    color: white;
    text-align: center;
}